/* src/styles/main.css */
@import './_variables.css';

html, body {
  height: auto; /* Make sure both html and body take up the full viewport height */
  margin: 0;
  padding: 0; 
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-primary);
  line-height: 1.6;
  color: var(--text-dark);
  background-color: var(--background-light);

  /* The key to centering everything */
  display: flex;
  flex-direction: column; /* Stacks your children vertically */
  align-items: center; /* Centers your content horizontally */
  justify-content: center; /* Centers your content vertically */
}
  
  /* You'll also need to adjust the container class */
  .container {
    max-width: var(--container-width);
    width: 100%; /* Ensure the container takes up the full width of its parent */
    padding: 2 var(--spacing-large);
    margin: 2; /* Remove the auto margin since flexbox handles centering */
  }

  

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: var(--heading-font-weight);
  color: var(--text-dark);
  line-height: 1.2;
  margin-bottom: var(--spacing-medium);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

section {
  padding: 4rem 0;
}
 
/* This utility class can be used on any element to center its content */
.center-content {
  text-align: center;
}